<ion-menu [type]="menuType" content-id="main-content">
  <ion-content>
    <ion-menu-toggle>
      <ion-button>Click to close the menu</ion-button>
    </ion-menu-toggle>
  </ion-content>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
  <ion-button (click)="routeTo('remote')">Remote Page</ion-button>
  <ion-button (click)="routeTo('contact')">Contact Page</ion-button>
  <ion-button (click)="routeTo('events')">Event Page</ion-button>
</ion-menu>
<ion-header>
  <ion-toolbar>
    <ion-menu-toggle>
      <ion-title>
        <img
          src="assets/icon/favicon.png"
          alt="background ok"
          height="20px"
          width="20px"
        />
        Christmas
      </ion-title>

      <!-- <ion-button>Click </ion-button> -->
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<div class="ion-page" id="main-content">
  <ion-content>
    <br /><br /><br />

    <ion-card>
      <ion-card-header>
        <img
          src="assets/blt.jpg"
          alt="background ok"
          width="300"
          height="300"
        />
        <ion-card-title>𝔭𝔢𝔯𝔥𝔞𝔭𝔰 Title</ion-card-title>
        <ion-card-subtitle>𝔭𝔢𝔯𝔥𝔞𝔭𝔰 Subtitle</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        𝔖𝔬 𝔭𝔢𝔯𝔥𝔞𝔭𝔰, 𝔶𝔬𝔲'𝔳𝔢 𝔤𝔢𝔫𝔢𝔯𝔞𝔱𝔢𝔡 𝔰𝔬𝔪𝔢 𝔣𝔞𝔫𝔠𝔶 𝔱𝔢𝔵𝔱, 𝔞𝔫𝔡 𝔶𝔬𝔲'𝔯𝔢 𝔠𝔬𝔫𝔱𝔢𝔫𝔱 𝔱𝔥𝔞𝔱
        𝔶𝔬𝔲 𝔠𝔞𝔫 𝔫𝔬𝔴 𝔠𝔬𝔭𝔶 𝔞𝔫𝔡 𝔭𝔞𝔰𝔱𝔢 𝔶𝔬𝔲𝔯 𝔣𝔞𝔫𝔠𝔶 𝔱𝔢𝔵𝔱 𝔦𝔫 𝔱𝔥𝔢 𝔠𝔬𝔪𝔪𝔢𝔫𝔱𝔰 𝔰𝔢𝔠𝔱𝔦𝔬𝔫 𝔬𝔣
        𝔣𝔲𝔫𝔫𝔶 𝔠𝔞𝔱 𝔳𝔦𝔡𝔢𝔬𝔰, 𝔟𝔲𝔱 𝔭𝔢𝔯𝔥𝔞𝔭𝔰 𝔶𝔬𝔲'𝔯𝔢 𝔴𝔬𝔫𝔡𝔢𝔯𝔦𝔫𝔤 𝔥𝔬𝔴 𝔦𝔱'𝔰 𝔢𝔳𝔢𝔫 𝔭𝔬𝔰𝔰𝔦𝔟𝔩𝔢 𝔱𝔬
        𝔠𝔥𝔞𝔫𝔤𝔢 𝔱𝔥𝔢 𝔣𝔬𝔫𝔱 𝔬𝔣 𝔶𝔬𝔲𝔯 𝔱𝔢𝔵𝔱? ℑ𝔰 𝔦𝔱 𝔰𝔬𝔪𝔢 𝔰𝔬𝔯𝔱 𝔬𝔣 𝔥𝔞𝔠𝔨? 𝔄𝔯𝔢 𝔶𝔬𝔲 𝔠𝔬𝔭𝔶𝔦𝔫𝔤
        𝔞𝔫𝔡 𝔭𝔞𝔰𝔱𝔦𝔫𝔤 𝔞𝔫 𝔞𝔠𝔱𝔲𝔞
      </ion-card-content>
    </ion-card>

    <swiper-container pager>
      <swiper-slide *ngFor="let slide of slides">
        <img [src]="slide.image" class="slide-image" />
        <h2 class="slide-title" [innerHTML]="slide.title"></h2>
        <p [innerHTML]="slide.description"></p>
      </swiper-slide>
      <swiper-slide>
        <ion-toolbar> </ion-toolbar>
        <img src="assets/ica-slidebox-img-4.png" class="slide-image" />
        <h2 class="slide-title">Use the menu to visit all the pages.</h2>
        <button ion-button outline (click)="showImpression()">
          First impression
        </button>
      </swiper-slide>
    </swiper-container>
  </ion-content>
</div>
